Source: ioncube-loader64
Section: web
Priority: extra
Maintainer: Geoff Robertson - Hetzner ZA <gr@hetzner.co.za>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3
Homepage: http://www.ioncube.com

Package: ioncube-loader64
Architecture: amd64
Depends: ${misc:Depends}, php-common
Description: PHP modules used by Hetzner
  ioncube loader
